@font-face {
font-family: "TakaoMinchoEd";
src: url("https://ahaavisto.github.io/media/TakaoExMinchoEdited.woff");
src: url("https://ahaavisto.github.io/media/TakaoExMinchoEdited.woff") format("woff"),
url("https://ahaavisto.github.io/media/TakaoExMinchoEdited.ttf") format("truetype");
}

.jpn { 
font-family: "TakaoMinchoEd", "Meiryo";
}
